<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

    <!-- EN: Simply More Roofs -->
    <SMR.Settings.Category.Label>更多屋顶</SMR.Settings.Category.Label>

    <!-- EN: Allow remove any roof -->
    <SMR.Settings.AllowRemoveAnyRoof.Label>移除所有屋顶</SMR.Settings.AllowRemoveAnyRoof.Label>
    <!-- EN: No roof area will work for any roof. (Need to finish research of project named thick roof.) -->
    <SMR.Settings.AllowRemoveAnyRoof.Tooltip>允许移除屋顶区对任何屋顶生效。（需要完成对致密屋顶的研究）</SMR.Settings.AllowRemoveAnyRoof.Tooltip>

    <!-- EN: Prevent infestation -->
    <SMR.Settings.PreventInfestation.Label>阻止虫灾生成</SMR.Settings.PreventInfestation.Label>
    <!-- EN: Infestation will not spawn under roofs added by this mod. -->
    <SMR.Settings.PreventInfestation.Tooltip>阻止虫灾在该模组添加的屋顶下生成。</SMR.Settings.PreventInfestation.Tooltip>

    <!-- EN: Saperate designators -->
    <SMR.Settings.SaperateRoofDesignators.Label>拆分屋顶区按钮</SMR.Settings.SaperateRoofDesignators.Label>
    <!-- EN: Saperate build roof area from roofs added by this mod. -->
    <SMR.Settings.SaperateRoofDesignators.Tooltip>将建造菜单中的建造屋顶区和 Mod 添加的屋顶拆分。</SMR.Settings.SaperateRoofDesignators.Tooltip>

</LanguageData>